@font-face {
  font-family: "Montserrat-Regular";
  src: url("./Montserrat/static/Montserrat-Regular.ttf");
}
li, ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 75px;
  height: 75px;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
  font-family: "Montserrat-Regular";
}
body .principal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-items: center;
  height: 10%;
  width: 80%;
  align-items: center;
  border: 4px solid rgb(43, 130, 196);
  border-radius: 10px;
}
header h1 {
  color: rgb(53, 79, 146);
  font-size: 2vw;
}
header h2 {
  color: rgb(53, 79, 146);
  font-size: 2vw;
}

main section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main section h2 {
  font-size: 1.5vw;
  color: rgb(53, 79, 146);
}
main section .formation {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}
main section .formation a {
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  height: 10vw;
  background-color: #DEEBFF;
  transition: transform 1s;
  padding: 1vw;
}
main section .formation a:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: rgb(134, 161, 231);
}
main section .formation a p {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 20%;
}
main section .formation a h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.3vw;
}

.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.experience .radio-button {
  display: none;
}
.experience .carousel {
  width: 80%;
  height: 24vw;
  overflow: hidden;
}
.experience .carousel .slides {
  width: 100%;
  height: 23vw;
  display: flex;
  transition: all 1s ease;
}
.experience .carousel .slides .slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 100%;
  height: 23vw;
  justify-content: space-between;
  border-radius: 15px;
  background-color: #DEEBFF;
  box-sizing: border-box;
  border: 1px solid black;
}
.experience .carousel .slides .slide .site {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  width: 100%;
  height: 100%;
}
.experience .carousel .slides .slide .site:hover {
  border-radius: 15px;
  cursor: pointer;
  background-color: rgb(134, 161, 231);
}
.experience .carousel .slides .slide .titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 95%;
}
.experience .carousel .slides .slide .titre p {
  font-size: 1.1vw;
  flex-wrap: wrap;
}
.experience .carousel .slides .slide .titre h3 {
  font-size: 1.3vw;
  flex-wrap: wrap;
}
.experience .carousel .slides .slide .github {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 3px 3px 5px 0px black, -3px -3px 5px 0px gray;
  position: absolute;
  margin-top: 30%;
  width: 30%;
}
.experience .carousel .slides .slide .github:hover {
  background-color: #a9a9a9;
}
.experience .carousel .slides .slide .github img {
  width: 100%;
}
.experience .carousel .slides .slide .liste {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.experience .carousel .slides .slide .liste .front {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  height: 100%;
}
.experience .carousel .slides .slide .liste .front h2 {
  display: flex;
  justify-content: center;
  font-size: 2vw;
}
.experience .carousel .slides .slide .liste .back {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  height: 100%;
}
.experience .carousel .slides .slide .liste .back h2 {
  display: flex;
  justify-content: center;
  font-size: 2vw;
}
.experience .carousel .slides .slide ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30%;
  flex-wrap: wrap;
}
.experience .carousel .slides .slide ul li {
  transition: 2s;
  animation: rotation 6s linear;
}
@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(720deg);
  }
}
.experience .carousel .slides .slide ul li:hover {
  transform: rotateY(360deg);
}
.experience .label {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.experience .label .radio {
  font-size: 1.2vw;
  background-color: rgb(164, 164, 243);
  padding: 0.5vw;
  border-radius: 5px;
}
.experience .label .radio:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#radio1:checked ~ .carousel .slides {
  transform: translateX(0%);
}

#radio2:checked ~ .carousel .slides {
  transform: translateX(-100%);
}

#radio3:checked ~ .carousel .slides {
  transform: translateX(-200%);
}

#radio4:checked ~ .carousel .slides {
  transform: translateX(-300%);
}

#radio5:checked ~ .carousel .slides {
  transform: translateX(-400%);
}

#radio6:checked ~ .carousel .slides {
  transform: translateX(-500%);
}

#radio7:checked ~ .carousel .slides {
  transform: translateX(-600%);
}

#radio8:checked ~ .carousel .slides {
  transform: translateX(-700%);
}

aside {
  background-color: rgb(169, 204, 227);
  font-size: 1.2vw;
  width: 100%;
}/*# sourceMappingURL=style.css.map */